.category_title {
    font-size: 24px;
    color: #4C4C4C;
    font-weight: 700;
    margin: 20px 0px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.image {
    min-width: 200px;
    min-height: 220px;
    max-width: 200px;
    max-height: 220px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.item_data {
    flex: 1;
    color: #4C4C4C;
    padding: 20px;
}

.item_title {
    font-size: 24px;
    font-weight: 700;
}

.item_description_hidden,
.item_description {
    position: relative;
    cursor: pointer;
    white-space: pre;
    font-size: 16px;
    text-wrap: wrap;
    min-height: 80px;
    max-width: 500px;
}

.item_description_hidden:after,
.item_description:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
}

.item_description_hidden {
    overflow: hidden;
    max-height: 80px;
}

.item_description_hidden:after {
    background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 0, #fff);
}

.item_price {
    flex: 1;
    font-size: 24px;
    color: #ED6F3B;
    font-weight: 700;
    margin-bottom: 0;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order_button {
    cursor: pointer;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    background-color: #ED6F3B;
}

.counter {
    display: flex;
    gap: 20px;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.counter_control {
    cursor: pointer;
    vertical-align: middle;
}

@media all and (max-width:580px) {
    .item {
        flex-direction: column;
        align-items: center;
    }

    .image {
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        background-size: cover;
    }

    .item_data {
        width: 100%;
    }
}