.place {
    text-align: center;
}

.place > img {
    border-radius: 5px;
    margin-bottom: 20px;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.title {
    color: #4C4C4C;
    font-size: 36px;
    font-weight: 700;
}