@import-normalize;

* {
    font-family: "Open Sans Hebrew", Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    color: #4C4C4C;
}

h2 {
    font-size: 24px;
    color: #4C4C4C;
}

h3 {
    font-size: 20px;
    color: #4C4C4C;
}

a {
    font-size: 20px;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    flex: 1;
}