.dropzone {
    border: 1px dashed #ccc;
    border-radius: 5px;
    color: #6c7c7c;
    display:flex;
    cursor: pointer;
    align-items:center;
    justify-content:center;
    height: 200px;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: 200;
}

.image {
    max-height: 190px;
    max-width: 400px;
    height: 190px;
}