.navigation {
    display: flex;
    gap: 20px;
    color: #4C4C4C;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    gap: 5px;
}

.icon {
    font-size: 24px;
}
