.success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 96px;
}

.description {
    margin-top: 22px;
    color: #0FAD33;
    text-align: center;
}

.button {
    margin-top: 40px;
}